.jumbo_container {
  width: 100%;
  /* overflow-x: scroll; */
  font-size: 1em;
}
.top_header {
  width: 100%;
}
.nav {
  width: 100%;
}
.main_content_container {
  width: 100%;
}
.footer {
  width: 100%;
}
.top_header_inner {
  width: 75.6%;
  margin: auto;
}
.nav_inner {
  width: 75.6%;
  margin: auto;
}
.main_content_container_inner {
  width: 75.6%;
  margin: auto;
}
.footer_inner {
  width: 75.6%;
  margin: auto;
}
.col3_left_big {
  width: 81.2366%;
}
.col3_right_small {
  width: 18.7633%;
}
.left_side_panel {
  width: 25.4593%;
  margin-right: 3%;
}
.mid_content_panel {
  width: 67.98790%;
  margin-right: 3%;
}
aside li {
  padding-left: 4.6391%;
  padding-right: 4.6391%;
}
aside h2 {
  padding-left: 4.6391%;
  padding-right: 4.6391%;
}
aside h4 {
  width: 84.5360%;
}
.mid_container_big_tab_left {
  width: 49.8069%;
}
.mid_container_big_tab_right {
  width: 49.8069%;
}
.big_tab_left_small_tabs_groups .big_tab_left_small_tab_left,
.big_tab_right_small_tabs_groups .big_tab_right_small_tab_left {
  margin-left: 2.8759%;
  width: 45.1860%;
}
.big_tab_left_small_tabs_groups .big_tab_left_small_tab_right,
.big_tab_right_small_tabs_groups .big_tab_right_small_tab_right {
  margin-right: 2.8759%;
  width: 45.1860%;
}
section .profile_image_container {
  /* margin-right: 1.9305%; */
  width: 14.1500%
}
section .entry_update_information_container {
  width: auto;
  margin-left: 1.9305%;
}
/* Media Queries Part*/
@media only screen and (max-width: 1024px) {
  .top_header_inner {
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .nav_inner {
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .main_content_container_inner {
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .footer_inner {
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
}

@media only screen and (max-width: 805px) {
  .main_content_container_inner {
    background: none;
  }
  .top_header_left {
    float: none;
    width: 53%;
    margin: 0 auto;
    text-align: center;
  }
  .top_header_right {
    float: none;
    width: 53%;
    padding-right: -30px;
    margin: 0 auto;
    text-align: center;
  }
  .top_header_left form {
    clear: both;
    float: none;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .top_header_left img {
    float: none;
    width: 53%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .top_header_right span {
    float: right;
    margin-right: -17px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .top_header_right ul {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
  }
  .top_header_right ul li {
    font-size: 1em;
  }
  aside {
    float: none;
    display: none;
  }
}
